*{
  margin: 0;
  padding: 0;
}

#formDiv, ul{
  width: fit-content;
}

h2{
  text-align: center;
}

#search{
  display: block;
}

input[type="submit"]{
  display: block;
  margin: auto;
}

li{
  &:nth-child(odd){
    background-color: azure;
  }
}